.UserLogOut {
     font-size: 13px;
     color: palevioletred;
     text-align: center;
     
     }
     
     .UserLogOut .email {
       font-size: smaller;
       border-radius: 10%;
       color: palevioletred;
       
     }
button{
  position: relative;
}