.card {
     padding: 5fr;
     border: 5px; 
     
     border-color: rgb(201, 91, 109) 75%;
     border-width: 55fr;
     height: 300px;
     margin-top: 180px;
     width: 38px;
     float: left;
     background-color: antiquewhite;
     margin-left: 32px;
     border-radius: 10px; 
}
#uploadedImage{
     
     width: 9%;
     height: fit-content;
     position: relative;
}
.url{
     font-size: 17px;
     justify-content: center;
     color: red;
}

.card {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  box-sizing: border-box;
  border-color: navy;
  
}
.h1, h1{
  color: white;
}
h3{
  color: white;
}
.blue{
  color: green
}


