.card {
     border: 5px dotted red;
     height: 300px;
     margin-top: 180px;
     width: 180px;
     float: left;
     background-color: yellowgreen;
     margin-left: 32px;
     border-radius: 10px; 
}